@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap");

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

body{
  background-color: #F4F7FE;
}

input {
  /* font-family: "Poppins", sans-serif; */
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  margin: 1px;
}

li {
  list-style: none;
}

:root {
  --primaryColor1: #1e6de8;
  --secondaryColor: #294169;
  --secondaryColor2: #162f57;
  --whiteColor: #fff;
  --darkColor1: #2a2a2a;
  --lightDarkColor: #4e5566;
  --backgroundColor1: #F4F7FE; 
}

/* removing background from antd message component */
.success-message .ant-message-notice-content {
  background-color: #3fb34f !important;
}

/* disabled antd menu options */
.ant-menu-item-disabled {
  color: rgba(0, 0, 0, 0.7) !important;
}

.ant-drawer-content-wrapper {
  height: 95vh !important;
}

.animate-bounce{
animation: bounce 0.3s linear ;
}
@keyframes bounce {
  /* 0% {
    margin-bottom: 0px;
  } */
  0% {
    margin-bottom: 50px;
  }
  80%{
    margin-bottom: -10px;
  }
  100%{
    margin-bottom: 0px;
  }

}
